

body {
    background-color: rgb(48, 97, 227);
}

#name {
    display: block;
    color: blue;
    padding: 14px 16px;

}

.damainnav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(70, 69, 69);
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

.damainnav li {
    float: left;
}

.damainnav li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.damainnav li a.active {
    background-color: black;
}

.damainnav li a:hover {
    background-color: darkgray;
}

.firsthead {
    background-color: rgb(0, 55, 206);
    margin-top: 47px;
    margin-right: -10px;
    margin-left: -10px;
    padding: 10px 0 200px 10px;
    text-align: center;
}

.content-block {
    padding: 10px 0 10px 20px;
}

footer {
    background-color: rgb(19, 19, 19);
    padding: 10px 0 10px 20px;
    margin: 0 -10px -10px -10px;
}

footer a {
    color: white;
}

footer h3 {
    color: white;
}

.blog {
    margin-top: 47px;
    background-color: rgb(0, 47, 150);
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.blog p {
    color: white;
}

.blog div {
    background-color: blue;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.blog div iframe {
    max-width: 100%;
}

